/* Features. */
$debug: false;
$enable-transitions: true;

/* Fonts. */
$font-standard: 'opensans-regular', sans-serif;
$font-title: 'comfortaa-regular', sans-serif;
$font-subtitle: 'comfortaa-thin', sans-serif;
$font-code: monospace;

/* Colors. */
$color-body-bg: #ffffff;
$color-title: #36c3ea;
$color-subtitle: #227b94;

/* Sensitive sizes. */
$header-height: 50px;
$footer-height: 50px;
