<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
    <meta charset="utf-8">
    <!-- Content. -->
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="L'élabomobile, rendez-vous d'émulation créative.">
    <meta name="author" content="Benoît Bryon">
    <meta name="robots" content="index, follow">
    <!-- Feeds. -->
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <!-- Style. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="canonical" href="{% block permalink %}{{ SITEURL }}/{% endblock %}">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <!-- IE tricks. -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% endblock head %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_classes %}{% endblock %}">
  <header>
    <nav>
      <div>
        {% block logo %}
          <a id="logo" href="/">l'élabomobile</a>
        {% endblock %}
        <ul>
          <!--<li{% if page_name=='index' %} class="active"{% endif %}><a href="/" title="elabomobile.org"{% if page_name=='index' %} disabled="1"{% endif %}><span class="fa fa-home" aria-hidden="true"></span></a></li>-->
          {% for page_item in pages %}
            <li{% if page and page.url==page_item.url %} class="active"{% endif %}>
              <a href="{{ page_item.url }}"{% if page and page.url==page_item.url %} disabled="1"{% endif %}>
                {{ page_item.title }}
              </a>
            </li>
          {% endfor %}
          <li>
            <a href="/#coordonnees"><span class="fa fa-id-card"> </span> Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock %}
  <footer>
    <div>
      <div>
        <p class="copyright">&copy; l'élabomobile, 2016&ndash;2017</p>
        <p class="contacts">
          <a href="mailto:contact@elabomobile.org"><span class="fa fa-envelope"> </span></a>
          <a href="https://github.com/benoitbryon/elabomobile.org/"><span class="fa fa-github"> </span></a>
          <a href="https://www.facebook.com/elabomobile"><span class="fa fa-facebook-official"> </span></a>
        </p>
      </div>
    </div>
  </footer>
  {% block javascript %}
    <script src="./js/libs.min.js" type="text/javascript"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  {% endblock %}
</body>
</html>
