{% extends "base.html" %}

{% block body_id %}index{% endblock %}
{% block title %}L'élabomobile &ndash; Rendez-vous d'émulation créative{% endblock %}
{% block logo %}{% endblock %}

{% block content %}
  <section id="tagline">
    <div>
      <div>
        <h1>l'élabomobile</h1>
        <blockquote>
          <strong>Rendez-vous</strong> dans des lieux inspirants,
          <br />
          pratiquons l'<strong>émulation</strong> créative&nbsp;!
        </blockquote>
      </div>
    </div>
  </section>

  <section id="rendezvous">
    <div>
      <div>
        <article>
          <img src="/img/2017-04-03-14-00-interconnaissance.jpg" />
          <h2>Petit pas</h2>
          <p class="date">
            <span class="dayname">Lundi</span>
            <span class="day">10</span>
            <span class="month">avril</span>
          </p>
          <p class="location">
            chez <a href="http://www.grenadine-et-crayonnade.fr/plan-dacces/">Grenadine et Crayonnade</a>, Anglet
            <br />
            Ouverture de 9h à 17h30
            <br />
            Tarif libre et responsable
          </p>
          <ul>
            <li><span class="fa fa-comments-o fa-fw"> </span> Coworking</li>
            <li><span class="fa fa-graduation-cap fa-fw"> </span> Rencontre thématique &laquo;&nbsp;Gouvernance partagée&nbsp;&raquo;</li>
          </ul>
          <div class="actions">
            <a class="btn btn-primary btn-lg" href="https://goo.gl/forms/uvRNBtQgaEhcHEts1"><span class="fa fa-sign-in"> </span> Je m'inscris</a>
            <a class="btn btn-secondary" href="http://eepurl.com/cIDkrn"><span class="fa fa-envelope"> </span> Je m'abonne à la newsletter</a>
          </div>
        </article>
      <div>
    <div>
  </section>

  <section id="concept">
    <div>
      <div>
        <h2>Le concept</h2>
        <article>
          <img src="/img/elabomobile-itinerance.jpg" />
          <h3>En itinérance</h3>
          <p>
            Différents lieux (et leurs habitants) accueillent l'élabomobile,
            chacun leur tour, le temps d'une journée.
            <strong>C'est l'occasion de tisser des liens et de contribuer à la
            vie du lieu et de son écosystème</strong>.
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-coworkers.jpg" />
          <h3>Ouvert à tous&nbsp;!</h3>
          <p>
            Professionnels, habitants ou simples passants, quel que soit votre âge,
            que ce soit pour travailler seul, en groupe ou simplement être là,
            <strong>soyez bienvenus&nbsp;!</strong>
            Le tarif est &laquo;&nbsp;libre et responsable&nbsp;&raquo;.
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-lieux.jpg" />
          <h3>Un espace d'activité libre</h3>
          <p>
            Trait d'union entre plusieurs acteurs, l'élabomobile propose un
            environnement propice aux activités, rencontres et échanges.
            <strong>Le programme, lui, est participatif.</strong>
            À vous de jouer&nbsp;!
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-elabomobile.jpg" />
          <h3>L'élabomobile</h3>
          <p>
            L'élabomobile pose un cadre et tisse des liens.
            Un zeste de logistique, une pincée de communication...
            Mais le secret, c'est <strong>le plaisir d'accueillir chacun et
            d'encourager l'émulation&nbsp;!</strong>
          </p>
        </article>
      </div>
    </div>
  </section>

  <section id="pratique">
    <div>
      <div>
        <article>
          <h3>Pour quoi faire&nbsp;?</h3>
          <ul>
            <li>Développer ses projets&nbsp;;</li>
            <li>suivre un atelier ou une formation&nbsp;;</li>
            <li>poser des questions, proposer des réponses&nbsp;;</li>
            <li>échanger les nouvelles&nbsp;;</li>
            <li>prendre le thé...</li>
          </p>
        </article>
        <article>
          <h3>Qu'est-ce qu'on y trouve&nbsp;?</h3>
          <ul>
            <li>Une connexion internet, des tables, des chaises&nbsp;;</li>
            <li>le matériel pour une petite conférence&nbsp;;</li>
            <li>de quoi faire une pause&nbsp;;</li>
            <li>d'autres personnes pour échanger ou travailler&nbsp;;</li>
            <li>et ce que vous y amènerez&nbsp;!</li>
          </ul>
        </article>

      </div>
    </div>
  </section>

  <section id="vision">
    <div>
      <div>
        <h2>La philosophie</h2>
        <article>
          <h3>Nomade</h3>
          <div>
            <p>
              Léger, <strong>libre</strong>, joyeux<br />
              accueillant, curieux, <strong>ouvert</strong><br />
              <strong>simple</strong>, sobre, durable<br />
              éphémère, en mouvement, <strong>vivant !</strong>
            </p>
          </div>
        </article>
        <article>
          <h3>Durable</h3>
          <p>
            Rechercher, expérimenter et transmettre
            des solutions pour exercer nos activités
            sereinement,
            dans le respect des personnes autant que de notre environnement.
            Dès aujourd'hui, demain encore.
          </p>
        </article>
        <article>
          <h3>Propulsion collective</h3>
          <p>
            Investir dans le développement collectif,
            tisser des liens,
            réaliser ensemble,
            faire émerger des groupes autour de projets,
            nourrir l'émulation,
            faire preuve de solidarité,
            faire société.
          </p>
        </article>
        <article>
          <h3>Changer de perspective</h3>
          <p>Déplacer le corps, déplacer l'esprit,
          sortir de la routine,
          se libérer des entraves, 
          reconsidérer les problèmes,
          être curieux,
          croiser d'autres regards.</p>
        </article>
      </div>
    </div>
  </section>

  <section id="contacts">
    <div>
      <div>
        <h2>L'équipe</h2>
        <article class="person">
          <img src="/img/benoit-bryon.jpg" />
          <h3>Benoît Bryon</h3>
          <blockquote>
            Co-fondateur de l'élabomobile, j'en propulse le lancement.
          </blockquote>
          <p class="links">
            <a href="http://nosmainsnues.com"><span class="fa fa-address-card"> </span> nos<strong>mains</strong>nues.com</a>
          </p>
        </article>
        <article class="person">
          <h3>Fanny Lescourret</h3>
          <blockquote>
            Co-fondatrice de l'élabomobile, je veille à sa raison d'être.
          </blockquote>
          <p class="links">
            <a href="http://lescourret.archi"><span class="fa fa-address-card"> </span> lescourret.archi</a>
          </p>
        </article>
        <article class="person">
          <img src="/img/laurent-gattegno.jpg" />
          <h3>Laurent Gattegno</h3>
          <blockquote>
            Je contribue à la communication de l'élabomobile&nbsp;: rédaction,
            réseaux sociaux, ...
          </blockquote>
          <p class="links">
            <a href="http://seora.fr"><span class="fa fa-address-card"> </span> seora.fr</a>
          </p>
        </article>
        <article class="person">
          <img src="/img/anonyme.png" />
          <h3>... et vous !</h3>
          <blockquote>
            L'élabomobile est développée comme un bien commun&nbsp;!
            Rejoignez-nous pour amener ce projet plus loin :)
          </blockquote>
        </article>

        <article class="coordonnees" id="coordonnees">
          <ul>
            <li>
              <span class="fa fa-fw fa-envelope"> </span>
              <a href="mailto:contact@elabomobile.org">contact@elabomobile.org</a>
            </li>
            <li>
              <span class="fa fa-fw fa-phone"> </span>
              06&nbsp;74&nbsp;49&nbsp;68&nbsp;81
            </li>
            <li>
              <span class="fa fa-fw fa-facebook-official"> </span>
              <a href="https://www.facebook.com/elabomobile">elabomobile</a>
            </li>
          </p>
        </article>
      </div>
    </div>
  </section>

{% endblock content %}
